{% extends 'todo/base.html' %}



{% block title %} Completed todos{% endblock %}


{% block contents %}
    <div class="text-uppercase text-center">
        <h1>Completed pages</h1>
    </div>
    <div class="row">

            {% for todo in todos %}
                <ul class="col-md-8 list-group listing  mx-auto pt-3">
                <li class="list-group-item list-group-item-success">
                    <a href="{% url 'viewtodo' todo_pk=todo.id %}">
                        {% if todo.important %}  <b> {% endif %}
                        {{ todo.title }}

                        {% if todo.important %}  </b> {% endif %}
                        {% if todo.memo %}
                            <p>{{ todo.memo|truncatechars:30 }}</p>
                        {% endif %}
                        {{ todo.datecompleted|date:'M j Y H:i' }}
                    </a>

                </li>
                <b class="pt-1">
                      <form action="{% url 'deletetodo' todo_pk=todo.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
                </b>


                </ul>



            {% endfor %}

    </div>



{% endblock %}